body {
    margin: 0;
    height: 100%;
    text-align: center;
    background-image: url(../img/grass-and-sky.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* CHARACTER CHOICE MODAL */

#grey-screen {
    width: 100%;
    height: inherit;
    position: absolute;
    background-color: rgba(0,0,0,.6);
    z-index: 950;
}

#modal {
  position: absolute;
      left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  top: 33%;
  z-index: 999;
  width: 220px;
  padding: 25px 10px;
  background: #ddd;
  border: 1px solid #333;
  text-align: center;
}

#modal h3 {

}

#modal button {
  background: #888;
  margin: 10px;
  font-size: 1.5em;
  color: white;
}

/* GAME BLOCKS */

.row {
    margin: 0;
}

.cube-container {
    width: 28vh;
    padding-bottom: 28vh;
    position: relative;
    margin: 2.66vh;
    display: inline-block;
   
/*    border: 1px solid #CCC;*/
    -webkit-perspective: 900px;
       -moz-perspective: 900px;
         -o-perspective: 900px;
            perspective: 900px;
}

.box {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0;
    padding: 0;
    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
         -o-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 1s;
       -moz-transition: -moz-transform 1s;
         -o-transition: -o-transform 1s;
            transition: transform 1s;
}

.box li {
    display: block;
    position: absolute;
    border: 2px solid black;
    width: 98%;
    height: 98%;
    line-height: 28vh;
    font-size: 20vh;
    text-align: center;
    font-weight: bold;
    color: white;
    background: rgba(255,0,0,0.75);
}



.box .back {
    background: rgba(255,0,0,1);
}

.box .front  {
    transform: rotateX(90deg) translateY(50%) rotateX(-90deg);
}
.box .back   {
    transform: rotateY(180deg) rotateX(90deg) translateY(50%) rotateX(-90deg);
}
.box .right {
    transform: translateX(50%) rotateY(90deg);
}
.box .left {
    transform: translateX(-50%) rotateY(-90deg);
}
.box .top {
    transform: translateY(-50%) rotateX(90deg);

}
.box .bottom {
    transform: translateY(50%) rotateX(-90deg);
}

/* ANIMATION CLASSES */

.clearBlock {
    /* Show back side */
    transform: translateZ( -50px ) rotateX( -180deg );
}

.showX {
    transform: translateZ( -50px ) rotateY(  -90deg );
}

.showO {
    transform: translateZ( -50px ) rotateY(   90deg );
}

.winColor {
    background-color: rgba(255,255,0,.75) !important;
}


/* MEDIA QUERIES */






























