

.cube-container {
    width: 150px;
    height: 150px;
    position: relative;
    margin: 50px;
    border: 1px solid #CCC;
    -webkit-perspective: 900px;
       -moz-perspective: 900px;
         -o-perspective: 900px;
            perspective: 900px;
}

.col-xs-4 {
    padding: 0 !important;
}

.box {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0;
    padding: 0;
    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
         -o-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 3s;
       -moz-transition: -moz-transform 3s;
         -o-transition: -o-transform 3s;
            transition: transform 3s;
}

.box li {
    display: block;
    position: absolute;
    border: 2px solid black;
    line-height: 150%;
    font-size: 95px;
    text-align: center;
    font-weight: bold;
    color: white;
    background: rgba(255,0,0,1);
}

.box .front,
.box .back {
    width: 98%;
    height: 98%;    
}


.box .right,
.box .left {
    width: 98%;
    height: 98%;
}

.box .top,
.box .bottom {
    width: 98%;
    height: 98%;
}


.box .front  {
    transform: rotateX(90deg) translateY(50%) rotateX(-90deg);
}
.box .back   {
    transform: rotateY(180deg) rotateX(90deg) translateY(50%) rotateX(-90deg);
}
.box .right {
    transform: translateX(50%) rotateY(90deg);
}
.box .left {
    transform: translateX(-50%) rotateY(-90deg);
}
.box .top {
    transform: translateY(-50%) rotateX(90deg);

}
.box .bottom {
    transform: translateY(50%) rotateX(-90deg);
}

.clearBlock {
    /* Show back side */
    transform: translateZ( -50px ) rotateX( -180deg );
}


/* MEDIA QUERIES */

.container {
    width: 70%;
}






























